@import url(https://fonts.googleapis.com/css?family=Neuton:300,400,700,400italic);
body {
    padding: 20px;
    width: 1024px;
    margin: auto;
    background-color: #c6ecc6;
    font-family: Neuton, serif;
}